---
let menu1 = "Home";
let url1 = "/";
let menu2 = "Pro";
let url2 = "https://limousinewebsite.vercel.app/";
let menu3 = "Hire Me";
let url3 = "https://www.fiverr.com/creativitas/create-your-custom-website-and-app";
---
<ul class="nav justify-content-center bg-light p-3 shadow fixed-top">
  <li class="nav-item">
    <a class="nav-link" href={url1}>{menu1}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={url2}><strong>{menu2}</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={url3}>{menu3}</a>
  </li>
</ul>